body {
    background-color:rgb(8, 8, 8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main {
    
    height: 100vh;
  }
  #header {
    
    height: 15vh;
    display: flex;
    flex-direction: row;
    /* position: relative;
    top: 35px; */
    justify-content: space-around;
  }
  #tasks {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color:rgb(253, 253, 253);
    font-size: 45px;
    
  }
  #list {
    color: white;
    font-size: 45px;
    
  }
  .posi{
    display: flex;
    flex-direction: row;
  }
  #cardName {
    display: none;
    
    text-align: center;
    font-size: 45px;
    color: white;
  }
  #no_list {
    color: rgb(250, 250, 248);
    font-size: 40px;
    text-align: center;
    
  }
  #add_itm {
    color: white;
    font-size: 40px;
    cursor:pointer;
  }
  .fa-circle-plus {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
  }
  .popup {
    width: 400px;
    height: 200px;
    background-color: whitesmoke;
    position: absolute;
    top: 45%;
    left: 32%;
    border: 2px solid rgb(247, 245, 245);
    border-radius: 10px;
    display: none;
    transition: 0.5s;
  }
  .itemsText {
    text-align: center;
    margin-left: 118px;
    font-size: 28px;
  }
  .popup_input {
    width: 75%;
    height: 36px;
    margin-left: 40px;
    font-size: 20px;
  }
  .popupbtnsmain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .popup_btn_add {
    width: 100px;
    /* margin: 8px 15px 5px 75px; */
    border: 2px solid skyblue;
    background-color: skyblue;
    border-radius: 15px;
    font-size: 20px;
    padding: 6px;
      cursor:pointer;
  }
  .popup_btn_delete {
    width: 100px;
    /* margin-left: 30px; */
    border: 2px solid skyblue;
    background-color: skyblue;
    border-radius: 15px;
    font-size: 20px;
    padding: 6px;
      cursor:pointer;
  }
  #add_item {
    width: 40px;
    height: 40px;
    cursor:pointer;
    background-color: rgb(0, 106, 255);
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
  }
  #container {
    padding: 0px 20px 0px 20px;
    position: relative;
    top: 45px;
    /* height: 85vh; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .todo_card {
    width: 300px;
    height: 400px;
    
    color: white;
    border-radius: 10px;
    background-color: white;
    
    margin: 10px;
    transition: all 0.05s;
  }
  .bigTodoCard {
    width: 350px;
    height: 450px;
  }
  .centerCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .todo_header {
    width: 100%;
    height: 5vh;
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 10x;
  }
  .cardLink {
    width: 100%;
    margin-top: 10px;    
    background: none;
    border: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
  .todo_body {
    width: 100%;
    height: 26vh;
    margin-top: 5px;
  }
  .todo_btns {
    width: 100%;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add_todo_list_btn {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 106, 255);
   cursor:pointer;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 200px;
  }
  .fa-trash-can {
    font-size: 26px;
    color: red;
  }
  #deleteBtnContainer {
    cursor:pointer;
    width: 30px;
    border: none;
    color: bisque;
    background: none;
    margin-left: 9px;
  }
  .listItem {
    width: 100%;
    margin: 15px 0px 0px 0px;
   
    text-align: center;
  }
  .listText {
    font-size: 22px;
    color: black;
    font-weight: 550;
  }
  .markDonebtn {
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    margin-left: 30px;
    margin: 3px 3px 3px 18px;
    background-color: rgb(0, 255, 55);
    color: white;
    border: 2px solid rgb(0, 255, 55);
  }
  #addBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 200px;
    background-color: rgb(0, 106, 255);
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
      cursor:pointer;
  }
  #backBtn {
    display: none;
    width: 90px;
    height: 40px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(4, 50, 167);
    font-weight: bold;
    font-size: 18px;
    color: white;
    z-index: 4;
  }
  
 
  @media (max-width: 768px) {
    #tasks_text {
      position: absolute;
      top: 15px;
      left: 30px;
    }
    #list_text {
      position: absolute;
      top: 15px;
      left: 150px;
    }
    #no_list_text {
      position: absolute;
      top: 70px;
      left: 30px;
    }
    #add_item_btn {
      position: absolute;
      top: 20px;
      right: 160px;
    }
    /* #add_itm {
      position: absolute;
      top: 15px;
      right: 10px;
    } */
    .popup {
      margin:auto;
      position: absolute;
      top: 20%;
      left: 0%;
      width: 100%;
      
    }
    #container {
      flex-direction: column;
      
    }
    .posi{
      display: flex;
      flex-direction: row;
    }
    .todo_body{
      height: 28vh;
    }
  }
